{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Favorite list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idadvert</th>
                <th>Iduser</th>
                <th>Createdon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('favorite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.advert.title }}</td>
                <td>{{ entity.user.username }}</td>
                <td>{% if entity.createdOn %}{{ entity.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('favorite_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('favorite_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('favorite_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}

